{:products/products
 [[:product/by-id "BAR"]
  [:product/by-id "STE"]
  [:product/by-id "TIL"]
  [:product/by-id "CAS"]
  [:product/by-id "FIO"]]

 :categories/categories
 [[:category/by-id "WOM"]
  [:category/by-id "FOO"]
  [:category/by-id "PUM"]
  [:category/by-id "BLO"]
  [:category/by-id "PLA"]]
 
 :product/by-id
 {"BAR" {:db/id "BAR"
         :product/name "Barineau"
         :product/category [:category/by-id "BLO"]
         :product/bread-crumbs [[:category/by-id "WOM"]
                                [:category/by-id "FOO"]
                                [:category/by-id "BLO"]]
         :product/image "/images/barineau_pink-purple_54_main_sq_gy_3200x3200.jpg"
         :product/image-obj {:image/url "/images/barineau_pink-purple_54_main_sq_gy_"
                             :image/width 3200
                             :image/height 3200}}
  "STE" {:db/id "STE"
         :product/name "Stessy"
         :product/category [:category/by-id "PUM"]
         :product/bread-crumbs [[:category/by-id "WOM"]
                                [:category/by-id "FOO"]
                                [:category/by-id "PUM"]]
         :product/image "/images/stessy_pink-purple_55_main_sq_gy_3200x3200.jpg"
         :product/image-obj {:image/url "/images/stessy_pink-purple_55_main_sq_gy_"
                             :image/width 3200
                             :image/height 3200}}
  "TIL" {:db/id "TIL"
         :product/name "Tilley"
         :product/category [:category/by-id "BLO"]
         :product/bread-crumbs [[:category/by-id "WOM"]
                                [:category/by-id "FOO"]
                                [:category/by-id "BLO"]]
         :product/image "/images/tilley_red_40_main_sq_gy_3200x3200.jpg"
         :product/image-obj {:image/url "/images/tilley_red_40_main_sq_gy_"
                             :image/width 3200
                             :image/height 3200}}
  "CAS" {:db/id "CAS"
         :product/name "Cassedy"
         :product/category [:category/by-id "PLA"]
         :product/bread-crumbs [[:category/by-id "WOM"]
                                [:category/by-id "FOO"]
                                [:category/by-id "PLA"]]
         :product/image "/images/cassedy_pink-purple_51_main_sq_gy_3200x3200.jpg"
         :product/image-obj {:image/url "/images/cassedy_pink-purple_51_main_sq_gy_"
                             :image/width 3200
                             :image/height 3200}}
  "FIO" {:db/id "FIO"
         :product/name "Fiolla"
         :product/category [:category/by-id "PLA"]
         :product/bread-crumbs [[:category/by-id "WOM"]
                                [:category/by-id "FOO"]
                                [:category/by-id "PLA"]]
         :product/image "/images/fiolla_black_93_main_sq_gy_3200x3200.jpg"
         :product/image-obj {:image/url "/images/fiolla_black_93_main_sq_gy_"
                             :image/width 3200
                             :image/height 3200}}}

 :category/by-id
 {"WOM" {:db/id "WOM"
         :category/name "Women"
         :category/parent nil
         :category/bread-crumbs []
         :category/children [[:category/by-id "FOO"]]
         :category/products [[:product/by-id "BAR"]
                             [:product/by-id "STE"]
                             [:product/by-id "TIL"]
                             [:product/by-id "CAS"]
                             [:product/by-id "FIO"]]}
  "FOO" {:db/id "FOO"
         :category/name "Footwear"
         :category/parent [:category/by-id "WOM"]
         :category/bread-crumbs [[:category/by-id "WOM"] [:category/by-id "FOO"]]
         :category/children [[:category/by-id "PUM"]
                             [:category/by-id "BLO"]
                             [:category/by-id "PLA"]]
         :category/products [[:product/by-id "BAR"]
                             [:product/by-id "STE"]
                             [:product/by-id "TIL"]
                             [:product/by-id "CAS"]
                             [:product/by-id "FIO"]]}
  "PUM" {:db/id "PUM"
         :category/name "Pumps"
         :category/parent [:category/by-id "FOO"]
         :category/bread-crumbs [[:category/by-id "WOM"]
                                 [:category/by-id "FOO"]
                                 [:category/by-id "PUM"]]
         :category/children []
         :category/products [[:product/by-id "STE"]]}
  "BLO" {:db/id "BLO"
         :category/name "Block heels"
         :category/parent [:category/by-id "FOO"]
         :category/bread-crumbs [[:category/by-id "WOM"]
                                 [:category/by-id "FOO"]
                                 [:category/by-id "BLO"]]
         :category/children []
         :category/products [[:product/by-id "BAR"] [:product/by-id "TIL"]]}
  "PLA" {:db/id "PLA"
         :category/parent [:category/by-id "FOO"]
         :category/name "Platforms"
         :category/bread-crumbs [[:category/by-id "WOM"]
                                 [:category/by-id "FOO"]
                                 [:category/by-id "PLA"]]
         :category/children []
         :category/products [[:product/by-id "CAS"] [:product/by-id "FIO"]]}}}
